.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .project-section,
  .about-section {
    border: 1px solid #000; 
    padding: 10px; 
    text-align: center; 
  }


  .myInfo{
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
  }

  
  .myInfo h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  